html {
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  transition: background-color 5s ease-in-out;
}

body.shining {
  background-color: #0ccdde;
}

.container {
  height: 0;
  background:
    linear-gradient(240deg, rgba(150, 50, 50, 0.3), rgba(0, 0, 200, 0));
  transition:
    background-color 5s ease-in-out,
    height 5s ease-in-out,
    transform 3s cubic-bezier(.17, .86, .73, .14);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.container.styled {
  background-color: #0ccdde;
  height: 50%;
  transform: rotate3d(1, 2, 1, 45deg);
}
